<nav class="NavHeader">
  <div class="ContainerHeader">
    <div class="LogoHeader">
      <i class="material-icons">shopping_cart</i>
      <a href="/">SGC</a>
    </div>
    <div class="MenuHeaderDesktop">
      <a href="/">Início</a>
      <%= link_to 'Vendas', vendas_path %>
      <%= link_to 'Produtos', produtos_path %>
      <%= link_to 'Caixa', caixas_path %>
      <%= link_to 'Clientes', clientes_path %>
      <%= link_to 'Fornecedores', fornecedores_path %>
      <%= link_to 'Usuários', users_path %>
      <a href="/ajuda">Ajuda</a>
      <%= link_to "Sair", destroy_user_session_path, method: :delete %>
    </div>
    <div class="MenuHeaderMobile">
      <a href="/ajuda">
        <i class="material-icons">help</i>
      </a>
      <%= link_to users_path do %>
        <i class="material-icons">account_circle</i>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons">exit_to_app</i>
      <% end %>
    </div>
  </div>
</nav>

<% if notice.present? %>
  <p id="notice" class="flash-notice notice Mensagem"><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p id="alert" class="flash-notice alert Mensagem"><%= alert %></p>
<% end %>
