<%= render template: "layouts/pdf_style", formats: :html %>

<section>
  <h1>Relatório de Vendas <%= @report_type %></h1>

  <table class="TabelaRelatorio">
    <tr>
      <th>Data</th>
      <th>Cliente</th>
      <th>Status</th>
      <th>Preço Total</th>
    </tr>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.data.strftime("%d/%m/%Y") %></td>
        <td><%= venda.cliente.nome %></td>
        <td><%= venda.status? ? "Encerrada" : "Aberta" %></td>
        <td><%= venda.preco_total %></td>
      </tr>
    <% end %>
  </table>
</section>
