<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <section class="Login">

    <h1 class="SecondaryTitle">Login</h1>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "Input", placeholder: "exemplo@email.com" %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "Input" %>
    </div>

    <%= f.submit "Entrar", class: "Button ButtonSave u-marginMediumTop" %>

  </section>
<% end %>
