<table id="products-table" class="Table">
  <thead>
    <tr>
      <th>Produto</th>
      <th>
        <span class="Mobile">Quantidade</span>
        <span class="DesktopTablet">Quant.</span>
      </th>
      <th>Preco Unitário</th>
      <th>Preco Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% produtos.each do |produto| %>
      <tr>
        <td><%= produto.produto.nome %></td>
        <td><%= produto.quantidade %></td>
        <td><%= number_to_currency produto.produto.preco %></td>
        <td><%= number_to_currency produto.total %></td>
        <td>
          <a href="" class="Button ButtonDelete delete-product" data-produto-venda-id="<%= produto.id %>">
            <i class="material-icons">delete</i>
            <span class="Mobile">Excluir</span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
