<section class="Produtos">
  <h1 class="SecondaryTitle">Produtos</h1>

  <%= form_with(url: produtos_path, local: true, method: :get) do |f| %>
    <div class="Row">
      <i class="IconeBusca material-icons">search</i>
      <input type="text" placeholder="Buscar por nome do produto..." name="query" class="Input InputBusca" value="<%= params[:query] %>" />
    </div>
  <% end %>

  <table class="Table u-marginSmallBottom">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Fornecedor</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.descricao %></td>
        <td><%= number_to_currency produto.preco %></td>
        <td><%= produto.fornecedor.try(:nome) %></td>
        <td><%= link_to 'Visualizar', produto, class: "Button ButtonPrimary" %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto), class: "Button ButtonSecondary" %></td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Tem certeza de que deseja excluir?' }, class: "Button ButtonDelete" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Adicionar produto', new_produto_path, class: "Button ButtonSave" %>

</section>
