<p>
  <strong>Data:</strong>
  <%= @venda.data %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @venda.preco_total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @venda.status %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @venda.cliente %>
</p>

<% @venda.produto.each do |produtos| %>
<p><%= produtos.nome %></p>
<% end %>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
